@import url("mocha.css");

* {

    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
    background-color: @base;
}

#clock,
#battery,
#temperature,
#network,
#pulseaudio,
#cpu,
#memory,
#language,
#tray {
    margin-left: 10px;
}

tooltip {
    background: @base;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: @lavender;
}


#workspaces button.focused {
    color: @lavender;
    background-color: @base;

}


#workspaces button:hover {
    background-color: @base;
    color: @lavender;
}


#clock {
    color: @green;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @blue;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @maroon;
}

#network {
    color: #c4c19e;
    border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
    color: @mauve;
}