@import url("mocha.css");

* {
    font-family: Fira Code Retina;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}


window#waybar {
    background: @crust;
}

tooltip {
    background: @base;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: @lavender;
}


#workspaces,
#mpris,
#clock,
#tray,
#language,
#network,
#battery,
#temperature,
#cpu,
#memory,
#disk,
#wireplumber {
    background: @base;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces {
    margin-left: 5px;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
}

#workspaces button {
    min-width: 0;
    padding: 5px 10px;
    color: @overlay2;
}

#workspaces button.focused {
    color: @lavender;
}


#workspaces button:hover {
    border-color: @mantle;
    color: @mauve;
}

#mpris {
    margin-left: 5px;
    border-radius: 15px 15px 15px 15px;
    color: @flamingo;
    padding: 0px 15px 0px 15px;
}

#clock {
    color: @teal;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 15px 0px 15px;
}


#tray {
    color: @teal;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 15px 0px 15px;
    margin-right: 5px;
}

#language {
    border-radius: 15px 0px 0px 15px;
    color: @peach;
    padding: 0px 15px 0px 15px;
}


#network {
    color: @sky;
    padding: 0px 15px 0px 0px;
}


#battery {
    color: @green;
    padding: 0px 15px 0px 0px;
}

#battery.charging {
    color: @blue;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @maroon;
}

#cpu {
    color: @green;
    padding: 0px 15px 0px 0px;
}

#temperature {
    color: @yellow;
    padding: 0px 15px 0px 0px;
}


#memory {
    color: @blue;
    padding: 0px 15px 0px 0px;
}


#disk {
    color: @maroon;
    padding: 0px 15px 0px 0px;
}



#wireplumber {
    color: @mauve;
    border-radius: 0px 15px 15px 0px;
    margin-right: 5px;
    padding: 0px 15px 0px 0px;
}